label {
    display: block;
    margin-bottom: 3px;
    font-size: 12px;
    text-transform: uppercase;
}
.form-control {
    font-size: 13px;
    height: 42px;
    border-radius: 3px;
}
.btn-primary {
    padding: 11px;
    width: 100%;
}